<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/doctype :: heading">
</head>
<body class="nav-md">

	<div class="container body">


		<div class="main_container">

			<div th:replace="fragments/adminheader::sidebar"></div>
			<div th:replace="fragments/adminheader::top-navbar"></div>

			<!-- page content -->
			  <div class="right_col" role="main">
                <div class="">
                    <div class="page-title">
                        <div class="title_left">
                            <h3>
                    Product Detail
                    <small>
                        Some examples to get you started
                    </small>
                </h3>
                        </div>
                        
                         <div class="title_right">
                            <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Search for...">
                                    <span class="input-group-btn">
                            <button class="btn btn-default" type="button">Go!</button>
                        </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>

                    <div class="row">

                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="x_panel">
                                <div class="x_title">
                                    <h2>Daily active users <small>Sessions</small></h2>
                                   
                                    <div class="clearfix"></div>
                                </div>
                                <div class="x_content">
                                    <table id="example" class="table table-striped responsive-utilities jambo_table">
                                        <thead>
                                            <tr class="headings">
                                                <th>
                                                    <input type="checkbox" class="tableflat">
                                                </th>
                                                <th>Article Id </th>
                                                <th>Title </th>
                                               	<th>Description</th>
                                               	<th>Image Path</th>
                                               	<th>Created By</th>
                                               	<th>Created Date</th>
                                               	<th>Updated By</th>
                                               	<th>Updated Date</th>
                                                <th class=" no-link last"><span class="nobr">Action</span>
                                                </th>
                                            </tr>
                                        </thead>

                                          <tbody>
                                            <tr class="even pointer" th:each="articlelist:${articlelist}">
                                                <td class="a-center ">
                                                    <input type="checkbox" class="tableflat">
                                                </td>
                                                <td class=" " th:text="${articlelist.id}"></td>
                                                <td class=" " th:text="${articlelist.heading}"></td>
                                                <td class=" " th:text="${articlelist.detail}"></td>
                                                <td class=" " ><img alt="" th:src="@{${articlelist.imgPath}}" style="width:100px;height:100px"></td>
                                                <td class=" " th:text="${articlelist.createdBy}"></td>
                                                <td class=" " th:text="${articlelist.createdDt}"></td>
                                                <td class=" " th:text="${articlelist.updatedBy}"></td>
                                                <td class=" " th:text="${articlelist.updatedDt}"></td>
                                                <td class=" last"><a th:href="${'/getArticle?id='+articlelist.id}">Edit</a>
                                                </td>
                                            </tr>
                                           
                                        </tbody> 

                                    </table>
                                </div>
                            </div>
                        </div>

                        <br />
                        <br />
                        <br />

                    </div>
                </div>
                <!-- footer content -->
				<footer th:replace="fragments/adminfooter::footer"></footer>
				<!-- /footer content -->
                    
                </div>
                <!-- /page content -->
            </div>
	</div>

	<div id="custom_notifications" class="custom-notifications dsp_none">
		<ul class="list-unstyled notifications clearfix"
			data-tabbed_notifications="notif-group">
		</ul>
		<div class="clearfix"></div>
		<div id="notif-group" class="tabbed_notifications"></div>
	</div>


	<script th:src="@{/admin/js/bootstrap.min.js}"></script>

	<!-- chart js -->
	<script th:src="@{/admin/js/chartjs/chart.min.js}"></script>
	<!-- bootstrap progress js -->
	<script th:src="@{/admin/js/progressbar/bootstrap-progressbar.min.js}"></script>
	<script th:src="@{/admin/js/nicescroll/jquery.nicescroll.min.js}"></script>
	<!-- icheck -->
	<script th:src="@{/admin/js/icheck/icheck.min.js}"></script>
	<!-- tags -->
	<script th:src="@{/admin/js/tags/jquery.tagsinput.min.js}"></script>
	<!-- switchery -->
	<script th:src="@{/admin/js/switchery/switchery.min.js}"></script>
	<!-- daterangepicker -->
	<script type="text/javascript" th:src="@{/admin/js/moment.min2.js}"></script>
	<script type="text/javascript"
		th:src="@{/admin/js/datepicker/daterangepicker.js}"></script>
	<!-- richtext editor -->
	<script th:src="@{/admin/js/editor/bootstrap-wysiwyg.js}"></script>
	<script th:src="@{/admin/js/editor/external/jquery.hotkeys.js}"></script>
	<script
		th:src="@{/admin/js/editor/external/google-code-prettify/prettify.js}"></script>
	<!-- select2 -->
	<script th:src="@{/admin/js/select/select2.full.js}"></script>
	<!-- form validation -->
	<script type="text/javascript"
		th:src="@{/admin/js/parsley/parsley.min.js}"></script>
	<!-- textarea resize -->
	<script th:src="@{/admin/js/textarea/autosize.min.js}"></script>
	<script>
		autosize($('.resizable_textarea'));
	</script>
	<script th:src="@{/admin/js/custom.js}"></script>
 <!-- Datatables -->
        <script th:src="@{admin/js/datatables/js/jquery.dataTables.js}"></script>
        <script th:src="@{admin/js/datatables/tools/js/dataTables.tableTools.js}"></script>
        <script>
            $(document).ready(function () {
                $('input.tableflat').iCheck({
                    checkboxClass: 'icheckbox_flat-green',
                    radioClass: 'iradio_flat-green'
                });
            });

            var asInitVals = new Array();
            $(document).ready(function () {
                var oTable = $('#example').dataTable({
                    "oLanguage": {
                        "sSearch": "Search all columns:"
                    },
                    "aoColumnDefs": [
                        {
                            'bSortable': false,
                            'aTargets': [0]
                        } //disables sorting for column one
            ],
            'iDisplayLength': 12,
            "sPaginationType": "full_numbers"
                });
                $("tfoot input").keyup(function () {
                    /* Filter on the column based on the index of this element's parent <th> */
                    oTable.fnFilter(this.value, $("tfoot th").index($(this).parent()));
                });
                $("tfoot input").each(function (i) {
                    asInitVals[i] = this.value;
                });
                $("tfoot input").focus(function () {
                    if (this.className == "search_init") {
                        this.className = "";
                        this.value = "";
                    }
                });
                $("tfoot input").blur(function (i) {
                    if (this.value == "") {
                        this.className = "search_init";
                        this.value = asInitVals[$("tfoot input").index(this)];
                    }
                });
            });
        </script>
</body>

</html>