<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<table>
<tr>
<td>UserId</td>
<td>UserName</td>
<td>Password</td>
<td>Address</td>
<td>Action</td>
</tr>
<tr th:each="userlist:${userlist}">
<td th:text="${userlist.userId}"></td>
<td th:text="${userlist.username}"></td>
<td th:text="${userlist.password}"></td>
<td th:text="${userlist.address}"></td>
<td><a th:href="@{'/editUser?id='+${userlist.userId}}">Edit</a></td>
</tr>


</table>

</body>
</html>