<!DOCTYPE html>
<
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

	<div class="col-md-3 left_col" th:fragment="sidebar">
		<div class="left_col scroll-view">

			<div class="clearfix"></div>

			<!-- menu prile quick info -->
			<div class="profile">
				<div class="profile_pic" style="width: 28px; height: 50px"></div>
				<div class="profile_info">
					<h2>
						Welcome, <span
							th:text="${#request.userPrincipal.principal.firstName}"></span>&nbsp;<span
							th:text="${#request.userPrincipal.principal.lastName}"></span>
					</h2>
				</div>
			</div>
			<!-- /menu prile quick info -->

			<br />

			<!-- sidebar menu -->
			<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">

				<div class="menu_section">
					<h3>General</h3>
					<ul class="nav side-menu">

						<li><a><i class="fa fa-edit"></i> Catagory <span
								class="fa fa-chevron-down"></span></a>
							<ul class="nav child_menu" style="display: none">
								<li><a th:href="@{/catagory}">Catagory Form</a></li>
								<li><a th:href="@{/catagorylist}">Cataagory List</a></li>
							</ul></li>
						<li><a><i class="fa fa-desktop"></i> Article <span
								class="fa fa-chevron-down"></span></a>
							<ul class="nav child_menu" style="display: none">
								<li><a th:href="@{/articles}">Product Form</a></li>
								<li><a th:href="@{/articlelist}">Product Detail</a></li>

							</ul></li>

					</ul>
				</div>

			</div>
			<!-- /sidebar menu -->

		</div>
	</div>

	<!-- top navigation -->
	<div class="top_nav" th:fragment="top-navbar">

		<div class="nav_menu">
			<nav class="" role="navigation">
				<div class="nav toggle">
					<a id="menu_toggle"><i class="fa fa-bars"></i></a>
				</div>

				<ul class="nav navbar-nav navbar-right">
					<li class=""><a href="javascript:;"
						class="user-profile dropdown-toggle" data-toggle="dropdown"
						aria-expanded="false"> <img src="images/img.jpg" alt=""><span
							th:text="${#request.userPrincipal.principal.username}"></span> <span class=" fa fa-angle-down"></span>
					</a>
						<ul class="dropdown-menu dropdown-usermenu animated fadeInDown pull-right">
							
							<li><a th:href="@{/logout}"><i
									class="fa fa-sign-out pull-right"></i> Log Out</a></li>
						</ul></li>

				</ul>
			</nav>
		</div>

	</div>
	<!-- /top navigation -->
</body>
</html>