<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="heading">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<!-- Meta, title, CSS, favicons, etc. -->
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<title>Blogging! |</title>
<!-- Bootstrap core CSS -->

<link th:href="@{admin/css/bootstrap.min.css}" rel="stylesheet" />

<link th:href="@{/admin/fonts/css/font-awesome.min.css}"
	rel="stylesheet" />
<link th:href="@{/admin/css/animate.min.css}" rel="stylesheet" />

<!-- Custom styling plus plugins -->
<link th:href="@{/admin/css/custom.css}" rel="stylesheet">
<link rel="stylesheet" type="text/css"
	th:href="@{/admin/css/maps/jquery-jvectormap-2.0.1.css}" />
<link th:href="@{/admin/css/icheck/flat/green.css}" rel="stylesheet" />
<link th:href="@{/admin/css/floatexamples.css}" rel="stylesheet"
	type="text/css" />
<!-- include the style -->
<link rel="stylesheet"
	th:href="@{/admin/alertifyjs/css/alertify.min.css}" />
<!-- include a theme -->
<link rel="stylesheet"
	th:href="@{/admin/alertifyjs/css/themes/bootstrap.min.css}" />

<style>
a.de {
	background: yellow;
}

.alertify-notifier .ajs-message.ajs-error {
	color: #fff;
}

.alertify-notifier .ajs-message.ajs-success {
	color: #fff;
}
</style>
<script th:src="@{/admin/js/jquery.min.js}"></script>
<script th:src="@{/admin/js/nprogress.js}"></script>
<script>
	NProgress.start();
</script>
<script th:src="@{/admin/tinymce/tinymce.min.js}"></script>
<script >
        tinymce.init({
            selector: 'textarea',
            height: 500,
            menubar: false,
            plugins: [
                'advlist autolink lists link  charmap print  anchor textcolor',
                'searchreplace visualblocks code fullscreen',
                'insertdatetime  table contextmenu paste code help'
            ],
            toolbar: 'insert | undo redo |  formatselect | bold italic backcolor  | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | removeformat  ',
            content_css: [
                '//fonts.googleapis.com/css?family=Lato:300,300i,400,400i',
                '//www.tinymce.com/css/codepen.min.css'],
            height: 50
        });

    </script>
</head>
<body>



	<div th:fragment="myscript">


		<script th:src="@{/admin/js/custom.js}"></script>

		<script th:src="@{/admin/js/bootstrap.min.js}"></script>

		<!-- chart js -->
		<script th:src="@{/admin/js/chartjs/chart.min.js}"></script>
		<!-- bootstrap progress js -->
		<script th:src="@{/admin/js/progressbar/bootstrap-progressbar.min.js}"></script>
		<script th:src="@{/admin/js/nicescroll/jquery.nicescroll.min.js}"></script>
		<!-- icheck -->
		<script th:src="@{/admin/js/icheck/icheck.min.js}"></script>
		<!-- tags -->
		<script th:src="@{/admin/js/tags/jquery.tagsinput.min.js}"></script>
		<!-- switchery -->
		<script th:src="@{/admin/js/switchery/switchery.min.js}"></script>
		<!-- daterangepicker -->
		<script type="text/javascript" th:src="@{/admin/js/moment.min2.js}"></script>
		<script type="text/javascript"
			th:src="@{/admin/js/datepicker/daterangepicker.js}"></script>
		<!-- richtext editor -->
		<script th:src="@{/admin/js/editor/bootstrap-wysiwyg.js}"></script>
		<script th:src="@{/admin/js/editor/external/jquery.hotkeys.js}"></script>
		<script
			th:src="@{/admin/js/editor/external/google-code-prettify/prettify.js}"></script>
		<!-- select2 -->
		<script th:src="@{/admin/js/select/select2.full.js}"></script>
		<!-- form validation -->
		<script type="text/javascript"
			th:src="@{/admin/js/parsley/parsley.min.js}"></script>
		<!-- textarea resize -->
		<script th:src="@{/admin/js/textarea/autosize.min.js}"></script>
		<script>
		autosize($('.resizable_textarea'));
		</script>
		<!-- Autocomplete -->

		<script th:src="@{/admin/alertifyjs/alertify.min.js}"></script>
		<script th:inline="javascript">
		    $(document).ready(function () {
		        var succes = [[${success}]];
		        var fail = [[${failure}]];
		        alertify.set('notifier','position', 'top-right');
		        if(succes!=null){
		            alertify.success(succes)
		        }else if(fail!=null){
		            alertify.error(fail)
		        }else{
		        }
		
		    });
		</script>
		<!-- /editor -->
			<!--  <script th:src="@{/vendor/scripts.js}"></script>-->
	</div>
</body>
</html>