<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<p>Hello world!!!</p>
<a th:href="@{/registration}">User Registration</a>
<a th:href="@{/userlist}">User Detail</a>

</body>
</html>