<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />


<title>Blogger! |</title>

<link rel="stylesheet" th:href="@{/admin/css/bootstrap.min.css}">

<link rel="stylesheet"
	th:href="@{/admin/fonts/css/font-awesome.min.css}">
<link rel="stylesheet" th:href="@{/admin/css/animate.min.css}">

<!-- Custom styling plus plugins -->
<link rel="stylesheet" th:href="@{/admin/css/custom.css}">
<link rel="stylesheet"
	th:href="@{/admin/css/maps/jquery-jvectormap-2.0.1.css}">
<link rel="stylesheet" th:href="@{/admin/css/icheck/flat/green.css}">
<link rel="stylesheet" th:href="@{/admin/css/floatexamples.css}">

<script th:src="@{/admin/js/jquery.min.js}"></script>
</head>

<body style="background: #F7F7F7;">

	<div class="">
		<a class="hiddenanchor" id="toregister"></a> <a class="hiddenanchor"
			id="tologin"></a>

		<div id="wrapper">
			<div id="login" class="animate form"
				th:classappend="${classActiveLogin}? 'in active'">

				<section class="login_content">
					<form th:action="@{/login}" method="POST">
						<h1>Login Form</h1>
						<span th:if="${param.error != null}" style="color: red;">Incorrect
							username or password.</span>
						
						<div class="alert alert-info" th:if="${emailSent}">An email
							has been sent to the email address you just registered. Please
							validate your email address and update your password information.</div>
						<div>
							<span style="color: red;" th:if="${usernameExists}">Username
								already exists. Choose a different one.</span> <input type="text"
								class="form-control" placeholder="Username" name="username"
								required="" />
						</div>
						<div>
							<input type="password" class="form-control"
								placeholder="Password" name="password" required="" />
						</div>
						<div>
							<button type="submit" class="btn btn-primary">Login</button>
							<a class="reset_pass" href="#">Lost your password?</a>
						</div>
						<div class="clearfix"></div>
						<div class="separator">

							<p class="change_link">
								New to site? <a href="#toregister" class="to_register">
									Create Account </a>
							</p>
							<div class="clearfix"></div>
							<br />
						</div>
					</form>
					<!-- form -->
				</section>
				<!-- content -->
			</div>
			<div id="register" class="animate form">
				<section class="login_content">

					<form th:action="@{/newUser}" method="post">
						<h1>Create Account</h1>
						<div>
							<input type="text" class="form-control" placeholder="Username"
								name="username" required="" />
						</div>
						<div>
							<span th:if="${emailExists}">Email already exists. Choose
								a different one.</span> <input type="email" class="form-control"
								placeholder="Email" name="email" required="" />
						</div>

						<div>
							<input type="submit" />
						</div>
						<div class="clearfix"></div>
						<div class="separator">

							<p class="change_link">
								Already a member ? <a href="#tologin" class="to_register">
									Log in </a>
							</p>
							<div class="clearfix"></div>
							<br />
						</div>
					</form>
					<!-- form -->
				</section>
				<!-- content -->
			</div>
		</div>
	</div>

</body>

</html>